@page
@model Gravitas.Monitoring.Pages.CardInfoModel
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager
@{
}
@if (SignInManager.IsSignedIn(User))
{
	@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Modifier))
	{
		<form method="post" style="margin-top: 3px;">
			<div class="row">
				<div class="col-4 yozhstyle1">


					<input type="hidden" asp-for="CardId" />
					<h3>Id картки: <b>@Model.CardId</b></h3>
					<br />
					<label class="w-100">
						Тікет контейнер
						<br />
						<input class="form-control" type="text" name="tc" value="@Model.tc" placeholder="NULL" />
					</label>

					<br />
					<br />

					<label class="w-100">
						ID користувача
						<br />
						<input class="form-control" type="text" name="UserId" value="@Model.UserId" placeholder="NULL" />
					</label>

					<br />
					<br />

					<button class="btn btn-success">💾 Зберегти</button>
					<a href="./CardList?CardId=@Model.CardId" class="btn btn-primary">⏪ Назад до списку карток</a>
				</div>
			</div>
		</form>
	}
	else
	{
		<h1>Не достатньо прав...</h1>
		<br />
		<a href="./CardList?CardId=@Model.CardId" class="btn btn-primary">Назад до списку карток</a>
	}
}
else
{
	<h1>Користувач не авторизований...</h1>
	<br />
	<a href="./CardList?CardId=@Model.CardId" class="btn btn-primary">Назад до списку карток</a>
}
<br />
@Model.Result