@page
@using Gravitas.Monitoring.Constants
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Адмін панель</h1>
	@if (SignInManager.IsSignedIn(User))
	{
		@if (User.IsInRole(UserRoles.Admin))
		{
			<div>
				<a asp-area="" asp-page="/Monitoring/ViewAuthorized">Тільки для адміна</a>
			</div>
		}

		@if (User.IsInRole(UserRoles.User))
		{
			<a asp-area="" asp-page="/Monitoring/ViewAuthorized">Тільки для простого користувача</a>
		}
	}
	<a href="./CarList" class="display-2 btn btn-primary">Авто</a>
	<a href="./CardList" class="display-2 btn btn-primary">Картки</a>
	<a href="./" class="display-2 btn btn-primary">Пошук мітки</a>
	<a href="./" class="display-2 btn btn-primary">Обладнання</a>
	<a href="./" class="display-2 btn btn-primary">Вузли</a>
