@page
@model IndexModel
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager
@{
	ViewData["Title"] = "Головна";
	bool a = false; // admin
	bool m = false; // modifier
	bool u = false; // user
					//<iframe src="https://alerts.in.ua/?embed" style="width: 500px; height: 300px; border: none;" title="Мапа повітряних тривог" frameborder="0"></iframe>
}
@if (SignInManager.IsSignedIn(User))
{
	@if (User.IsInRole(UserRoles.Admin))
	{
		<a href="./Queue">Черга</a>
	}
}
<br />
<div class="text-center">
	@*
	<h1 class="display-3" style="color: #0f3d5c; text-shadow: 5px 5px 10px #777, 0px 0px 3px #777; font-weight: 500;">
	<h1 class="display-3" style="color: #0f3d5c; text-shadow: 5px 5px 10px #777; font-weight: 500;">
	*@
	<h1 class="display-3" style="color: #e9e9e9; text-shadow: 5px 5px 10px #777, 0px 0px 3px #777; font-weight: 500;">
		<b>
			Вузол обслуговування системи внутрішньозаводської логістики МЗВКК
		</b>
	</h1>
	@if (SignInManager.IsSignedIn(User))
	{
		@if (User.IsInRole(UserRoles.Admin))
		{
			a = true;
		}

		@if (User.IsInRole(UserRoles.Modifier))
		{
			m = true;
			<br />
			<br />
			<div class="row">
				@if (a)
				{
					<div class="col-3">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Автотранспорт</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./CarList" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" id="mdi-truck-fast" viewBox="0 0 24 24" style="fill:#0f3d5c;">
											<path d="M3,13.5L2.25,12H7.5L6.9,10.5H2L1.25,9H9.05L8.45,7.5H1.11L0.25,6H4A2,2 0 0,1 6,4H18V8H21L24,12V17H22A3,3 0 0,1 19,20A3,3 0 0,1 16,17H12A3,3 0 0,1 9,20A3,3 0 0,1 6,17H4V13.5H3M19,18.5A1.5,1.5 0 0,0 20.5,17A1.5,1.5 0 0,0 19,15.5A1.5,1.5 0 0,0 17.5,17A1.5,1.5 0 0,0 19,18.5M20.5,9.5H18V12H22.46L20.5,9.5M9,18.5A1.5,1.5 0 0,0 10.5,17A1.5,1.5 0 0,0 9,15.5A1.5,1.5 0 0,0 7.5,17A1.5,1.5 0 0,0 9,18.5Z" />
										</svg>
									</a>
									<a href="./CarList" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
					<div class="col-3">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Картки</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./CardList" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-phone-vibrate" viewBox="0 0 16 16" style="fill:#0f3d5c;">
											<path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z" />
											<path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2M1.599 4.058a.5.5 0 0 1 .208.676A7 7 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A8 8 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208m12.802 0a.5.5 0 0 1 .676.208A8 8 0 0 1 16 8a8 8 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A7 7 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676M3.057 5.534a.5.5 0 0 1 .284.648A5 5 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A6 6 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284m9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8s-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8s-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648" />
										</svg>
									</a>
									<a href="./CardList" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
					<div class="col-3">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Вузли</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./Nodes" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" id="mdi-atom-variant" viewBox="0 0 24 24" style="fill:#0f3d5c;">
											<path d="M18.36,2.64C20,2.64 21.36,4 21.36,5.64C21.36,7.29 20,8.64 18.36,8.64C16.71,8.64 15.36,7.29 15.36,5.64C15.36,5.34 15.41,5.06 15.5,4.8C14.43,4.29 13.25,4 12,4A8,8 0 0,0 4,12L4.04,12.84L2.05,13.05L2,12A10,10 0 0,1 12,2C13.69,2 15.28,2.42 16.67,3.16C17.16,2.83 17.74,2.64 18.36,2.64M18.36,4.64A1,1 0 0,0 17.36,5.64A1,1 0 0,0 18.36,6.64C18.92,6.64 19.36,6.19 19.36,5.64C19.36,5.08 18.92,4.64 18.36,4.64M5.64,15.36C7.29,15.36 8.64,16.71 8.64,18.36C8.64,18.66 8.59,18.94 8.5,19.2C9.57,19.71 10.75,20 12,20A8,8 0 0,0 20,12L19.96,11.16L21.95,10.95L22,12A10,10 0 0,1 12,22C10.31,22 8.72,21.58 7.33,20.84C6.84,21.17 6.26,21.36 5.64,21.36C4,21.36 2.64,20 2.64,18.36C2.64,16.71 4,15.36 5.64,15.36M5.64,17.36C5.08,17.36 4.64,17.81 4.64,18.36C4.64,18.92 5.08,19.36 5.64,19.36A1,1 0 0,0 6.64,18.36A1,1 0 0,0 5.64,17.36M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8Z" />
										</svg>
									</a>
									<a href="./Nodes" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
					<div class="col-3">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Користувачі</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./ApUsers" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16" style="fill:#0f3d5c">
											<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4" />
										</svg>
									</a>
									<a href="./ApUsers" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
				}
				else
				{
					<div class="col-4">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Автотранспорт</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./CarList" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" id="mdi-truck-fast" viewBox="0 0 24 24" style="fill:#0f3d5c;">
											<path d="M3,13.5L2.25,12H7.5L6.9,10.5H2L1.25,9H9.05L8.45,7.5H1.11L0.25,6H4A2,2 0 0,1 6,4H18V8H21L24,12V17H22A3,3 0 0,1 19,20A3,3 0 0,1 16,17H12A3,3 0 0,1 9,20A3,3 0 0,1 6,17H4V13.5H3M19,18.5A1.5,1.5 0 0,0 20.5,17A1.5,1.5 0 0,0 19,15.5A1.5,1.5 0 0,0 17.5,17A1.5,1.5 0 0,0 19,18.5M20.5,9.5H18V12H22.46L20.5,9.5M9,18.5A1.5,1.5 0 0,0 10.5,17A1.5,1.5 0 0,0 9,15.5A1.5,1.5 0 0,0 7.5,17A1.5,1.5 0 0,0 9,18.5Z" />
										</svg>
										<a href="./CarList" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
									</a>
								</div>
							</div>
						</center>
					</div>
					<div class="col-4">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Картки</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./CardList" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-phone-vibrate" viewBox="0 0 16 16" style="fill:#0f3d5c;">
											<path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z" />
											<path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2M1.599 4.058a.5.5 0 0 1 .208.676A7 7 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A8 8 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208m12.802 0a.5.5 0 0 1 .676.208A8 8 0 0 1 16 8a8 8 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A7 7 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676M3.057 5.534a.5.5 0 0 1 .284.648A5 5 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A6 6 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284m9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8s-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8s-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648" />
										</svg>
									</a>
									<a href="./CardList" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
					<div class="col-4">
						<center>
							<div class="card p-1" style="max-width: 300px;">
								<div class="card-header">
									<h3><b>Вузли</b></h3>
								</div>
								<div class="card-body w-100 h-100">
									<a href="./Nodes" class="" style="text-decoration:auto; font-size:70pt;">
										<svg xmlns="http://www.w3.org/2000/svg" id="mdi-atom-variant" viewBox="0 0 24 24" style="fill:#0f3d5c;">
											<path d="M18.36,2.64C20,2.64 21.36,4 21.36,5.64C21.36,7.29 20,8.64 18.36,8.64C16.71,8.64 15.36,7.29 15.36,5.64C15.36,5.34 15.41,5.06 15.5,4.8C14.43,4.29 13.25,4 12,4A8,8 0 0,0 4,12L4.04,12.84L2.05,13.05L2,12A10,10 0 0,1 12,2C13.69,2 15.28,2.42 16.67,3.16C17.16,2.83 17.74,2.64 18.36,2.64M18.36,4.64A1,1 0 0,0 17.36,5.64A1,1 0 0,0 18.36,6.64C18.92,6.64 19.36,6.19 19.36,5.64C19.36,5.08 18.92,4.64 18.36,4.64M5.64,15.36C7.29,15.36 8.64,16.71 8.64,18.36C8.64,18.66 8.59,18.94 8.5,19.2C9.57,19.71 10.75,20 12,20A8,8 0 0,0 20,12L19.96,11.16L21.95,10.95L22,12A10,10 0 0,1 12,22C10.31,22 8.72,21.58 7.33,20.84C6.84,21.17 6.26,21.36 5.64,21.36C4,21.36 2.64,20 2.64,18.36C2.64,16.71 4,15.36 5.64,15.36M5.64,17.36C5.08,17.36 4.64,17.81 4.64,18.36C4.64,18.92 5.08,19.36 5.64,19.36A1,1 0 0,0 6.64,18.36A1,1 0 0,0 5.64,17.36M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8Z" />
										</svg>
									</a>
									<a href="./Nodes" class="btn btn-primary w-100" style="font-size: 16pt;">Перейти</a>
								</div>
							</div>
						</center>
					</div>
				}
			</div>
		}
		@if (User.IsInRole(UserRoles.User))
		{
			u = true;
		}
	}
	else
	{
		<div class="yozhstyle1 brdr1sb" style="margin-top: 100px; background-color: lightcoral"><h1>Для роботи з системою увійдіть в обліковий запис</h1></div>
	}
</div>
@if (SignInManager.IsSignedIn(User))
{
	<center>
		<div style="margin-top: 40px;">
			<table class="yozhstyle1" style="display:inline-block;">
				<tr>
					<td class="brdr1sb headercolor">
						Групи до яких входить користувач
					</td>
					@if (a)
					{
						<td class="brdr1sb">
							Адміністратори
						</td>
					}
					@if (m)
					{
						<td class="brdr1sb">
							Редактори
						</td>
					}
					@if (u)
					{
						<td class="brdr1sb">
							Користувачі
						</td>
					}
				</tr>
			</table>
		</div>
	</center>
}
