@page
@using Gravitas.Monitoring.Constants
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
	ViewData["Title"] = "Home page";
	string Groups = "";
}

<div class="text-center">
	<h1 class="display-4">Адмін панель</h1>
	@if (SignInManager.IsSignedIn(User))
	{
		@if (User.IsInRole(UserRoles.Admin))
		{
			Groups += "Адміністратори<br />";
			@*<div><a asp-area="" asp-page="/Monitoring/ViewAuthorized">Тільки для адміна</a></div>*@
		}

		@if (User.IsInRole(UserRoles.Modifier))
		{
			Groups += "Редактори<br />";
		}

		@if (User.IsInRole(UserRoles.User))
		{
			Groups += "Користувачі<br />";
			<br />
			<br />
			<div class="row yozhstyle1">
				<div class="col-4">
					<a href="./CarList" class="btn btn-primary w-100" style="font-size: 16pt;">🚚 Авто</a>
				</div>
				<div class="col-4">
					<a href="./CardList" class="btn btn-primary w-100" style="font-size: 16pt;">🎫 Картки</a>
				</div>
				<div class="col-4">
					<a href="./Nodes" class="btn btn-primary w-100" style="font-size: 16pt;">🚏 Вузли</a>
				</div>
			</div>
		}

		@*
	@if (User.IsInRole(UserRoles.Admin))
	{
	<div class="row yozhstyle1" style="margin-top: 40px;">
	<div class="col-4">
	<a href="#" class="btn btn-primary w-100" style="font-size: 16pt;">👥 Ролі</a>
	</div>
	</div>
	}
	*@
	}
</div>
<div style="margin-top: 100px;">
	@if (Groups != "")
	{
		<div>
			Ви є учасником груп:<br /><br />
			@Html.Raw(Groups)
		</div>
	}
	else
	{
		<div>
			<br /><br />
			Вам ще не назначено групу...
		</div>
	}
</div>