@page
@model Gravitas.Monitoring.Pages.SetNewStateIdModel
@using Gravitas.Monitoring.HelpClasses
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager
@{
	string id = HttpContext.Request.Query["id"].ToString();
	string StateId = HttpContext.Request.Query["StateId"].ToString();
	string tc = HttpContext.Request.Query["tc"].ToString();
	string TableName = HttpContext.Request.Query["TableName"].ToString();
	string sql = "update " + TableName + " set StateId='" + StateId + "' where Id = '" + id + "'";
	string Result = "";

	if (SignInManager.IsSignedIn(User)) {
		//if (User.IsInRole(UserRoles.Admin))
		//{
			try
			{
				db.SendRequestToDB(sql);
				Result = "Виконано...";
			}
			catch
			{
				Result = "Помилка";
			}
			//log.Add()
		//}
		//else
		//{
		//	Result = "Помилка: Для виконання дфї не достатньо прав...";
		//}
	}
	else
	{
		Result = "Помилка: Користувач не авторизований...";
	}

}
@Result
<br />
<a href="./CarInfo?tc=@tc" class="btn btn-primary">Назад до опису авто</a>