@page
@model Gravitas.Monitoring.Pages.TestControlsModel
@{

}
<form method="post">
	<button asp-action="@Model.Copy" type="submit" class="btn btn-primary">&raquo; Copy &raquo;</button>
</form>
<br />
@Model.s

