@page
@model Gravitas.Monitoring.Pages.TestControlsModel
@{

}
<form method="get" action="testCtrl">
	<input type="hidden" name="tc" value="140000" />
	<button type="submit" class="btn btn-primary">&raquo; GET &raquo;</button>
</form>

<form method="post" action="testCtrl">
	<input type="hidden" name="tc" value="140000" />
	<button type="submit" class="btn btn-primary">&raquo; POST &raquo;</button>
</form>
