@page
@model Gravitas.Monitoring.Pages.TicketEditModel
@using Gravitas.Monitoring.HelpClasses
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager

@{
}
@if (SignInManager.IsSignedIn(User))
{
	@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Modifier))
	{
		<center><h3>Параметри тікета: </h3><h2>@Model.t</h2></center>
		<form method="post">
			<input type="hidden" asp-for=TC />
			<div class="row">
				<div class="col-3">
					Додатковий маршрут використовується системою при обробці не стандартних ситуацій: перегруз, недогруз, погодження і т.ін.
				</div>
				<div class="col-3">
					<label style="width: 100%;">Статус авто<br /><input type="number" asp-for="SI" class="form-control" /></label>
					<label style="width: 100%;">Id Маршруту<br /><input type="number" asp-for="RTI" class="form-control" /></label>
					<label style="width: 100%;">Номер пройденого етапу<br /><input type="number" asp-for="RII" class="form-control" /></label>
				</div>
				<div class="col-3">
					<label style="width: 100%;">Id Додаткового маршруту<br /><input type="number" asp-for="SRTI" class="form-control" /></label>
					<label style="width: 100%;">Номер пройденого етапу в доп. маршруті<br /><input type="number" asp-for="SRII" class="form-control" /></label>
				</div>
				<div class="col-3">

					<h4>Статус авто:</h4>
					1. Бланк(новий)<br />
					2. В обробці<br />
					3. Доопрацювання<br />
					4. В роботі<br />
					5. Завершено<br />
					6. Проведено<br />
					10. Відхилено

				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<br />
					<center>
						<p>Якщо Додатковий маршрут не вказаний то поле SecondaryRoutrTemplateId слід залишати пустим... </p>
						<div class="col-3">
							<button type="submit" class="btn btn-primary" style="width: 100%; margin: 2px;">💾 Зберегти</button>
							<br />
							<a href="./CarInfo?tc=@Model.TC" class="btn btn-primary" style="width: 100%; margin: 2px;">⏪ Назад до авто</a>
							<br /><br />
						</div>
						@Model.Result
					</center>
				</div>
			</div>
		</form>
	}
	else
	{
		<h1>Не достатньо прав...</h1>
	}
}
else
{
	<h1>Користувач не авторизований...</h1>
}