@page
@model Gravitas.Monitoring.Pages.TicketSaverModel
@using Gravitas.Monitoring.HelpClasses
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager
@{
	string tc = HttpContext.Request.Query["tc"].ToString();
	string t = HttpContext.Request.Query["t"].ToString();

	string StateId = HttpContext.Request.Query["StateId"].ToString();
	string RT = HttpContext.Request.Query["RT"].ToString();
	string RII = HttpContext.Request.Query["RII"].ToString();
	string SRT = HttpContext.Request.Query["SRT"].ToString();
	if (SRT == "") SRT = "NULL"; else SRT = "'" + SRT + "'";
	string SRII = HttpContext.Request.Query["SRII"].ToString();


	string sql = "";

	// StatusId, RouteTtemplateId, RouteItemIndex, SecondaryRouteTemplateId, SecondaryRouteItemIndex, TicketContainerId


	if (db.EnterpriseNum == 0) sql = "update dbo.Tickets set StatusId='" + StateId + "', RouteTemplateId='" + RT + "', RouteItemIndex='" + RII + "', SecondaryRouteTemplateId=" + SRT + ", SecondaryRouteItemIndex='" + SRII + "' where Id = '" + t + "'";
	if (db.EnterpriseNum == 1) sql = "update dbo.Ticket set StatusId='" + StateId + "', RouteTemplateId='" + RT + "', RouteItemIndex='" + RII + "', SecondaryRouteTemplateId=" + SRT + ", SecondaryRouteItemIndex='" + SRII + "' where Id = '" + t + "'";

	string Result = "";
	if (SignInManager.IsSignedIn(User))
	{
		//if (User.IsInRole(UserRoles.Admin))
		//{
		try
		{
			db.SendRequestToDB(sql);
			Result = "Виконано...";
		}
		catch (Exception ex)
		{
			Result = "Помилка: " + ex.ToString();
		}
		//log.Add()
		//}
		//else
		//{
		//	Result = "Помилка: Для виконання дфї не достатньо прав...";
		//}
	}
	else
	{
		Result = "Помилка: Користувач не авторизований...";
	}
}
@Result
<br />
<a href="./CarInfo?tc=@tc" class="btn btn-primary">Назад до опису авто</a>