@page
@model Gravitas.Monitoring.Pages.TicketEditModel
@using Gravitas.Monitoring.HelpClasses
@using Gravitas.Monitoring.Constants
@inject SignInManager<IdentityUser> SignInManager

@{
}
@if (SignInManager.IsSignedIn(User))
{
	@if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Modifier))
	{
		<center><h3>Параметри тікета: </h3><h2>@Model.t</h2></center>
		<form method="post">
			<input type="hidden" asp-for=TC />
			<div class="row">
				<div class="col-3">

					В полях <b>RouteTemplateId</b> та <b>SecondaryRouteTemplateId</b> вказується Id маршрута
					<br />
					<br />
					В полях <b>RouteItemIndex</b> та <b>SecondaryRouteItemIndex</b> вказується номер останньої пройденої точки на маршруті
				</div>
				<div class="col-3">
					<label style="width: 100%;">StatusId<br /><input type="number" asp-for="SI" class="form-control" /></label>
					<label style="width: 100%;">RouteTemplateId<br /><input type="number" asp-for="RTI" class="form-control" /></label>
					<label style="width: 100%;">RouteItemIndex<br /><input type="number" asp-for="RII" class="form-control" /></label>
				</div>
				<div class="col-3">
					<label style="width: 100%;">SecondaryRouteTemplateId<br /><input type="number" asp-for="SRTI" class="form-control" /></label>
					<label style="width: 100%;">SecondaryRouteItemIndex<br /><input type="number" asp-for="SRII" class="form-control" /></label>
				</div>
				<div class="col-3">

					<h4>StatusId:</h4>
					1. Бланк(новий)<br />
					2. В обробці<br />
					3. Доопрацювання<br />
					4. В роботі<br />
					5. Завершено<br />
					6. Проведено<br />
					10. Відхилено

				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<br />
					<center>
						<p>Якщо Додатковий маршрут не вказаний то поле SecondaryRoutrTemplateId слід залишати пустим... </p>
						<div class="col-3">
							<button type="submit" class="btn btn-primary" style="width: 100%; margin: 2px;">💾 Зберегти</button>
							<br />
							<a href="./CarInfo?tc=@Model.TC" class="btn btn-primary" style="width: 100%; margin: 2px;">⏪ Назад до авто</a>
							<br /><br />
						</div>
						@Model.Result
					</center>
				</div>
			</div>
		</form>
	}
	else
	{
		<h1>Не достатньо прав...</h1>
	}
}
else
{
	<h1>Користувач не авторизований...</h1>
}